<p id="notice"><%= notice %></p>

<h1>Edificios</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @edificios.each do |edificio| %>
      <tr>
        <td><%= edificio.nombre %></td>
        <td><%= edificio.direccion %></td>
        <td><%= edificio.ciudad %></td>
        <td><%= link_to 'Mostrar', edificio, class: 'btn btn-info btn-sm text-white' %></td>
        <td><%= link_to 'Editar', edit_edificio_path(edificio), class: 'btn btn-warning btn-sm text-white' %></td>
        <td><%= link_to 'Eliminar', edificio, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm text-white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Nuevo Edificio', new_edificio_path, class:'btn btn-primary btn-lg text-white'  %>
