<%= form_with(model: oficina) do |form| %>
  <% if oficina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oficina.errors.count, "error") %> prohibited this oficina from being saved:</h2>

      <ul>
        <% oficina.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero %>
  </div>

  <div class="field">
    <%= form.label :edificio_id %>
    
 <%= form.select   :edificio_id,
  options_from_collection_for_select(@edificios, :id, :nombre),
  { include_blank: "Selecciona el edificio" }, class: 'form-select' %> 
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
