<%= render 'layouts/menu_vertical' %>

<div class="container col-10 mt-5">
<p id="notice"><%= notice %></p>
 
 <div class="col-12">
<h1>Oficinas</h1>


<table class="table table-striped table-hover mt-4">
  <thead>
    <tr>
      <th>Número</th>
      <th>Edificio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oficinas.each do |oficina| %>
      <tr>
        <td><%= oficina.numero %></td>
        <td><%= oficina.edificio.nombre %></td>
        <td><%= link_to 'Mostrar', oficina, class: 'btn btn-info btn-sm text-white' %></td>
        <td><%= link_to 'Editar', edit_oficina_path(oficina), class: 'btn btn-warning btn-sm text-white' %></td>
        <td><%= link_to 'Eliminar', oficina, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger btn-sm text-white' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>

