<%= render 'layouts/menu_vertical' %>

 <div class="container col-10 mt-5">
<p id="notice"><%= notice %></p>
 <div class="col-10">
<div class="card bg-light mb-3 " style="max-width: 800px;">
  <div class="card-header ">
  <div class="row">
    <div class="col">
      <h2> Oficina de: </h2>
    </div>
    
    <div class="col">
         <%= link_to 'Editar', edit_oficina_path(@oficina), class:'btn btn-primary btn-sm text-white' %> |
    <%= link_to 'Volver', oficinas_path, class:'btn btn-primary btn-sm text-white' %>
    </div>
  </div>
</div>

  <div class="card-body">

    <br>
    <h6 class="card-subtitle mb-2 text-muted">Edificio</h6>
    <p class="card-text"><%= @oficina.edificio.nombre %></p>
<br>
    <h6 class="card-subtitle mb-2 text-muted">Número de oficina:</h6>
    <p class="card-text"><%= @oficina.numero %></p>
</div>

</div>
</div>